
<!DOCTYPE html>
<html lang='en'>
    <head>
       <meta charset="utf-8">
       <title>Index Page</title>
    </head>
   </body>
         <h1>Welcom to the Index page!<h1>
            <div>
                <a href="/login" target="_blank">cleck to login</a>
            </div>
            <div>
                <a href="/register" target="_blank">cleck to register</a>
            </div>
            <div>
                <a href="/show" target="_blank">cleck to check</a>
            </div>

   <body>
</html>