<!DOCTYPE html>
<html lang='en'>
    <head>
       <meta charset="utf-8">
       <title>Login Page</title>
    </head>
   </body>
         <h1>Welcom to the Login page!<h1>
            <form action="/login" method="post">
                <div>
                    name:
                    <input type="text" name="username">
                </div>
                <div>
                    password:
                    <input type="password" name="password">
                </div>
                <div>
                    <input type="submit" value="submit">
                </div>
            </form>
   <body>
</html>